.card-publisher {
    width: 1000px;
    height: 250px;
    /* border-radius: 10%; */
    box-shadow: 10px 5px 5px rgb(131, 127, 127);
    /* border: 1px solid; */
    margin: 10px;
    background-color: #fff;
}
.publishr {
    /* background-color: #e0e0e0; */
    width: 100%;
    /* margin-right: 100px; */
    /* min-height: 730px; */
}
.cntr {
    /* margin-left: 200px; */
    display: flex;
}
