/* .car {
    height: 200px;
    width: 900px;
    border-radius: 0%;
    /* box-shadow: gray; */
/* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
    background: rgb(247, 244, 244);
} */
/* .blok1 .blok2 {
    display: inline-block;
} */
/* .blok2 {
    margin-top: -170px;
    margin-right: -200px;
    font-size: 15px;
}
label .a1 {
    display: flex;
    flex-direction: row;
} */
