.nav1 {
    /* position: absolute; */
    width: 100%;
    /* z-index: 10; */
    top: 0;
    height: 70px;
    /* background-color: blue; */
    background: rgb(167, 170, 170) 0%;
}
/* .offcan {
    background: rgb(46, 139, 139) 0%;
} */
.titl {
    /* padding-top: 85px; */
    /* margin-top: 85px; */
    color: white;
    /* margin-left: 50px; */
    font-family: "Roboto";
}
/* .nada {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
} */
.side {
    margin: 15px;
    margin-right: 45px;
}
.cc {
    margin: 20px;
}
.nad {
    display: inline;
    padding-top: 30px;
    color: white;
}
.navbar-na {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    /* display: inline; */
    /* float: right; */
    /* margin-bottom: 30px; */
}
.collap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 25%;
}
li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lin {
    color: white;
    /* display: inline; */
    text-decoration: none;
    /* border: 1px solid; */
    /* padding: 5px; */
    box-sizing: 1000px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: rgba(32, 124, 229, 1);
}
/* .item3 {
    margin-top: 50px;
} */
.btt {
    color: white;
    border: none;
    border-radius: 10%;
    background: rgb(67, 68, 68) 0%;
}
.btt1 {
    color: white;
    border: none;
    margin-top: -100px;
    background: rgb(67, 68, 68) 0%;
    /* margin-right: 100px; */
    /* float: left; */
    margin-left: 150px;
}

.sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(67, 68, 68);
    overflow-x: hidden;
    padding-top: 66px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #f1f1f1;
    display: block;
}

.sidebar a:hover {
    color: #818181;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
