@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
    background: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    /* background: linear-gradient(135deg, rgba(206, 75, 232, 1) 0%); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

.nav-link {
    color: white;
    font-size: 17px;
    margin-right: 20px;
    font-family: "Roboto";
}
.navbar-brand {
    width: 120px;
    height: 70px;
    border: 1px;
    color: white;
    padding-top: 15px;
    background: linear-gradient(
        135deg,
        rgba(206, 75, 232, 1) 0%,
        rgba(32, 124, 229, 1) 100%
    );
    margin-left: 100px;
    font-family: "Roboto";
}
.list {
    margin-left: 450px;
}
